@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: italic;
  src: url("fonts/SourceCodePro-ExtraLightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/SourceCodePro-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/SourceCodePro-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 500;
  font-style: italic;
  src: url("fonts/SourceCodePro-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 600;
  font-style: italic;
  src: url("fonts/SourceCodePro-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/SourceCodePro-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  src: url("fonts/SourceCodePro-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 300;
  src: url("fonts/SourceCodePro-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  src: url("fonts/SourceCodePro-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 500;
  src: url("fonts/SourceCodePro-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 600;
  src: url("fonts/SourceCodePro-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  src: url("fonts/SourceCodePro-Bold.woff2") format("woff2");
}

@layer components {
  body {
    font-family: "Source Code Pro", system-ui, sans-serif;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #D8DBE1 #111010 ;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background: #D8DBE1;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #111010;
    border-radius: 4px;
  }

  *::-moz-scrollbar {
    width: 8px;
    border-radius: 4px;
  }

  *::-moz-scrollbar-thumb {
    background: #D8DBE1;
    border-radius: 4px;
  }

  *::-moz-scrollbar-track {
    background: #111010;
    border-radius: 4px;
  }

  *::-ms-scrollbar {
    width: 8px;
    border-radius: 4px;
  }

  *::-ms-scrollbar-thumb {
    background: #D8DBE1;
    border-radius: 4px;
  }

  *::-ms-scrollbar-track {
    background: #111010;
    border-radius: 4px;
  }
}
