<!DOCTYPE html>
<html lang="en" class="dark scroll-smooth">
  {% include "partials/head.html" %}

  <body class="dark:bg-c-base-100 bg-c-base-100-li dark:text-c-primary text-c-primary-li leading-relaxed">
    <div id="loader" class="mx-auto grid gap-8 lg:max-w-6xl max-w-3xl lg:grid-cols-2 grid-cols-1 sm:px-16 px-6 min-h-screen">
        {% include "partials/home_loader.html" %}
    </div>
    <div id="main-content" class="mx-auto hidden gap-8 lg:max-w-6xl max-w-3xl lg:grid-cols-2 grid-cols-1 sm:px-16 px-6 min-h-screen">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ rel_static('js/bundle.js')|version }}"></script>
  </body>
</html>
