<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', path='css/app.css')|version}}">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/path-params.js"></script>
  <title>{% block title %}{% endblock %} - Derrick Gee</title>
</head>

<body class="bg-brand-base-100 text-brand-primary">
  <div class="grid grid-rows-[1fr_auto_1fr]">
    {% include "partials/nav.html" %}
    <section class="w-full h-full p-4">
      {% block content %}{% endblock %}
    </section>
    {% include "partials/footer.html" %}
  </div>
</body>

</html>
