<header class="flex flex-col gap-4 pt-16">
  <div class="h-40 w-full rounded-md animate-pulse-fast-short dark:bg-c-base-200 bg-c-base-200-li"></div>
  <div class="rounded-full w-8/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
  <div class="rounded-full w-10/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
  <div class="rounded-full w-5/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
  <div class="rounded-full w-3/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
  <div class="flex flex-col gap-4 mt-4">
    <div class="rounded-full w-4/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-4/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-4/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-4/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
  </div>
  <div class="flex gap-4">
    <div class="size-8 rounded-full dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="size-8 rounded-full dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="size-8 rounded-full dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
  </div>
</header>
<main class="flex flex-col gap-8 lg:pt-16 pt-4 pb-16">
  <div class="flex flex-col gap-4">
    <div class="rounded-full w-11/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-8/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-10/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-5/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-3/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="rounded-full w-8/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
  </div>
  <div class="flex flex-col gap-4">
    <div class="rounded-full w-8/12 h-4 dark:bg-c-base-200 bg-c-base-200-li animate-pulse-fast-short"></div>
    <div class="h-64 w-full rounded-md animate-pulse-fast-short dark:bg-c-base-200 bg-c-base-200-li"></div>
    <div class="h-64 w-full rounded-md animate-pulse-fast-short dark:bg-c-base-200 bg-c-base-200-li"></div>
    <div class="h-64 w-full rounded-md animate-pulse-fast-short dark:bg-c-base-200 bg-c-base-200-li"></div>
  </div>
</main>
