{% extends "partials/baseof.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="mx-auto rounded-md outline-brand-primary/30 outline outline-1 max-w-5xl p-8 bg-brand-base-200 shadow-md">
    <div class="flex flex-col gap-4">
      <h1 class="text-2xl font-bold">John Doe</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
      <h2 class="text-xl font-bold">Latest Blog</h2>
      <a id="blog-card" class="flex flex-col gap-2" target="_blank">
        <h3 class="text-brand-secondary text-xl font-bold" id="blog-card-title"></h3>
        <p class="text-sm" id="blog-card-description"></p>
        <img id="blog-card-img">
      </a>
    </div>
  </div>
<script type="text/javascript">
// make this on load
async function getMeta() {
  const url = "https://kokopi.dev/blogs/code/effective-neovim-setup-tutorial-guide/"
  const proxyUrl = `https://api.allorigins.win/get?url=${encodeURIComponent(url)}`;
  const resp = await fetch(proxyUrl)
  const data = await resp.json()
  const parser = new DOMParser();
  const doc = parser.parseFromString(data.contents, 'text/html');
  const title = doc.querySelector('title')?.innerText || 'No title';
  const description = doc.querySelector('meta[name="description"]')?.getAttribute('content') || 'No description';
  const ogImage = doc.querySelector('meta[name="og:image"]')?.getAttribute('content') || '';

  const card = document.querySelector("#blog-card")
  const cardTitle = document.querySelector("#blog-card-title")
  const cardDescription = document.querySelector("#blog-card-description")
  const cardImg = document.querySelector("#blog-card-img")
  cardTitle.textContent = title
  cardDescription.textContent = description
  cardImg.src = ogImage
  card.href = url
  return { title, description, ogImage }
}
getMeta().then((data) => {
    console.log('Metadata:',data);
});
</script>
{% endblock %}
